<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.stylingandroid.materialrss">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:supportsRtl="true"
    tools:ignore="UnusedAttribute">
    <activity
      android:name="com.stylingandroid.materialrss.FeedListActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.stylingandroid.materialrss.FeedDetailActivity"
      android:label="@string/title_feed_detail"
      android:parentActivityName="com.stylingandroid.materialrss.FeedListActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".FeedListActivity" />
    </activity>
  </application>

</manifest>
